.env
__pycache__/
*.py[cod]
*.pdb
.Python
*.egg-info/
*.egg
dist/
build/
wheels/
sdist/
.mypy_cache/
.pytype/
.pyre/
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
*.testmondata
.ipynb_checkpoints/
*.ipynb
.venv/
venv/
env/
ENV/
.virtualenv/
airflow.cfg
airflow.db
webserver_config.py
standalone_admin_password.txt
*.sqlite
*.db-journal
tmp/*
!tmp/.gitkeep
logs/*
!logs/.gitkeep
*.parquet
etl_pgdata/
airflow_pgdata/
pgdata/
.DS_Store
.AppleDouble
.LSOverride
Icon?
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
*~
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.project
.classpath
